{% extends "base.html" %}
{% load staticfiles %}
{% block title %}学生个人资料{% endblock %}
{% block righttoplink %}
<li><a href="{% url "illustration"%}">Shared Route服务说明</a></li>
<!--li><a href="#">Tour</a></li-->
<li class="has-dropdown">
    <a href="#">个人中心</a>
    <ul class="dropdown">
        <li><a href="{% url "detail_student"%}">个人资料</a></li>
        <li><a href="#">退出登录</a></li>
        <!--li><a href="#">Branding</a></li>
        <li><a href="#">API</a></li-->
    </ul>
</li>
{% endblock %}
{% block content %}
        <header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url({% static "images/img_4_7.jpg"%})" >
            <div class="overlay"></div>
            <div class="gtco-container">
                <br/>
                <br/>
                <br/>
                <br/>
                <div class="row" >
                    <div class="col-xs-12 col-sm-2">
                        <br/>
                    </div>
                    <div class="col-xs-12 col-sm-8 dialog" >
                        <div class="tm-section-title" align="center">
                            个人资料
                        </div>

                        <div class="left-agileinfo">
                            <div align="center">
                                <img src="{% static "images/backpack.png"%}">
                            </div>
                            <br/>
                            <br/>
                            <div class="tm-section-description" align="center">
                                <button type="submit" class="btn btn-primary" onclick="{location.href='{% url 'modify_student' %}'}" >修改</button>
                            </div>
                        </div>

                        <div class="right-agileits-w3layouts">
                            <fieldset>
                                <div class="form-row">
                                    <div class="field-label"><label for="field1">姓名</label>:</div>
                                    <br/>
                                    <p class="tm-section-description"><span class="tm-blue-text">{{user.nick_name}}</span> <br/> <span class="tm-red-text"></span></p>
                                </div>
                                <div class="form-row">
                                    <div class="field-label"><label for="field2">性别</label>:</div>
                                    <br/>
                                    <p class="tm-section-description"><span class="tm-blue-text">{{user.gender}}</span> <br/> <span class="tm-red-text"></span></p>
                                </div>
                                <div class="form-row">
                                    <div class="field-label"><label for="field2">院系</label>:</div>
                                    <br/>
                                    <p class="tm-section-description"><span class="tm-blue-text">{{user.Institute}}</span> <br/> <span class="tm-red-text"></span></p>
                                </div>
                                <div class="form-row">
                                    <div class="field-label"><label for="field2">专业</label>:</div>
                                    <br/>
                                    <p class="tm-section-description"><span class="tm-blue-text">{{user.major}}</span> <br/> <span class="tm-red-text"></span></p>
                                </div>
                                <div class="form-row">
                                    <div class="field-label"><label for="field2">学号</label>:</div>
                                    <br/>
                                    <p class="tm-section-description"><span class="tm-blue-text">{{user.username}}</span> <br/> <span class="tm-red-text"></span></p>
                                </div>
                                <div class="form-row">
                                    <div class="field-label"><label for="field2">联系方式</label>:</div>
                                    <br/>
                                    <p class="tm-section-description"><span class="tm-blue-text">{{user.phone_number}}</span> <br/> <span class="tm-red-text"></span></p>
                                </div>
                            </fieldset>
                            <!--
                            <div class="tm-section-description">
                                <button type="submit" class="btn btn-primary" onclick="{location.href='index_student.html'}" >修改</button>
                            </div>
                            -->
                        </div>




                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <br/>
                    </div>

                    <div class="clearfix visible-xs"></div>
                </div>
            </div>
        </header>
{% endblock %}
