{% extends "base.html" %}
{% load staticfiles %}
{% block title %}修改邮箱{% endblock %}
{% block righttoplink %}
                            <li class="btn-cta"><a href="{% url 'send_index'%}"><span>返回</span></a></li>
{% endblock %}
{% block content %}
        <header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url({% static "images/img_4_1.jpg"%})" >
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-left">

                        <div class="main">
                            <div class="login-form">
                                <!--h1>Member Login</h1-->
                                <div align="center" >
                                    <img src="{% static "images/logo_small.png" %}" alt=""/>
                                </div>
                                {% if state == 'success' %}
                                <div>
                                  <h2 class="text-center" style="color:yellow">修改密保成功</h2>
                                </div>
                                {% elif state == 'password_error' %}
                                <div>
                                  <h2 class="text-center" style="color:red">密码错误</h2>
                                </div>
                                {% elif state == 'email_error' %}
                                <div>
                                  <h2 class="text-center" style="color:red">邮箱错误</h2>
                                </div>
                                {% endif %}
                                <form method="POST" role="form">
                                  {% csrf_token %}
                                    <p>请输入密码</p>
                                    <input type="password" required name='password' value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
                                    <p>旧邮箱</p>
                                    <input type="text" class="text" required name='email1' value="用于忘记密码的验证" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'EMAIL';}" >
                                    <p>新邮箱</p>
                                    <input type="text" class="text" required name='email2' value="直接修改邮箱，请谨慎输入" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'EMAIL';}" >

                                    <div class="submit" align="center">
                                        <input type="submit" onclick="myFunction()" value="修改邮箱" >
                                    </div>
                                </form>
                            </div>
                            <!--//End-login-form-->
                        </div>
                        <!-----//end-main---->


                    </div>
                </div>
            </div>
        </header>
{% endblock %}
