{% extends "base.html" %}
{% load staticfiles %}
{% block title %}学生{% endblock %}
{% block script %}
    <script type="text/javascript">
        //显示灰色 jQuery 遮罩层
        function showBg() {
            var bh = $("body").height();
            var bw = $("body").width();
            $("#fullbg").css({
                height:bh,
                width:bw,
                display:"block"
            });
            $("#dialog").show();
        }
        //关闭灰色 jQuery 遮罩
        function closeBg() {
            $("#fullbg,#dialog").hide();
        }

        </script>
{% endblock %}
{% block righttoplink %}
        <li><a href="#">微快递服务说明</a></li>
        <!--li><a href="#">Tour</a></li-->
        <li class="has-dropdown">
            <a href="#">个人中心</a>
            <ul class="dropdown">
                <li><a href="{% url 'student' %}">个人资料</a></li>
                <li><a href="{% url 'log_out' %}">退出登录</a></li>
                <!--li><a href="#">Branding</a></li>
                <li><a href="#">API</a></li-->
            </ul>
        </li>
{% endblock %}
{% block content %}
        <header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url({% static "images/img_4_3.jpg" %})" >
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-left">
                        <div class="row row-mt-15em">
                            <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">

                            </div>
                            <div class="col-md-4 col-md-push-2 animate-box" data-animate-effect="fadeInRight">
                                <a style="color:white" class="btn btn-primary" onclick="showBg();" >我要送件</a>
                            </div>

                                <div id="fullbg"></div>
                                <div id="dialog">
                                    <button class="close"><a href="#" onclick="closeBg();">&nbsp;X&nbsp;</a></button>
                                    <div class="donate_form_w3l">

                                        <form rol="form" method="POST">
                                            <div class="left-agileinfo">
                                                <div class="tm-services-img-container">
                                                    <img src="{% static 'images/paper-plane.png' %}" alt="Green Field" class="img-fluid tm-services-img">
                                                </div>
                                            </div>
                                            <div class="right-agileits-w3layouts">
                                                <fieldset>
                                                    <!--legend>ACCOUNT DETAILS</legend-->
                                                    <div class="form-row">
                                                        <div class="field-label"><label for="field1">下单方式</label>:</div>
                                                        <div class="field-widget">
                                                            <select id="field1" name="get_method" class="validate-selection" title="Choose your department">
                                                                <option value='0'>请选择</option>
                                                                <option value="1">立即送件</option>
                                                                <option value="2">预约送件</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="field-label"><label for="field2">取件地点</label>:</div>
                                                        <div class="field-widget">
                                                            <select id="field2" name="get_address" class="validate-selection" title="Choose your department">
                                                                <option value="0">请选择</option>
                                                                <option value="1">一区</option>
                                                                <option value="2">二区</option>
                                                                <option value="3">三区</option>
                                                                <option value="4">科学园</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="field-label"><label for="field3">送件地点</label>:</div>
                                                        <div class="field-widget">
                                                            <select id="field3" name="send_address" class="validate-selection" title="Choose your department">
                                                                <option value="0">请选择</option>
                                                                <option value="1">一区</option>
                                                                <option value="2">二区</option>
                                                                <option value="3">三区</option>
                                                                <option value="4">科学园</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="field-label"><label for="field6">送件时间</label>:</div>
                                                        <div class="field-widget">
                                                            <select id="field6" name="time" class="validate-selection" title="Choose your department">
                                                                <option value='0'>请选择</option>
                                                                <option value='1'>8:00</option>
                                                                <option value='2'>9:00</option>
                                                                <option value='3'>10:00</option>
                                                                <option value='4'>11:00</option>
                                                                <option value='5'>11:30</option>
                                                                <option value="6">13:30</option>
                                                                <option value="7">14:00</option>
                                                                <option value="8">15:00</option>
                                                                <option value="9">16:00</option>
                                                                <option value="10">17:00</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </fieldset>

                                            </div>

                                            <div align="center">
                                                <input type="submit"  value="确认" />
                                            </div>

                                        </form>





                                    </div>




                            </div>
                            <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
                                <p><a></a><p>
                            </div>

                            <div class="col-md-4 col-md-push-2 animate-box" data-animate-effect="fadeInRight">
                                <a style="color:white"class="btn btn-primary" onclick="{location.href='{% url "student" %}'}">我的志愿</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </header>
{% endblock %}
