{% extends "base.html" %}
{% load staticfiles %}
{% block title %}学生{% endblock %}
    {% block script %}
    <script type="text/javascript">
        //显示灰色 jQuery 遮罩层
        function showBg() {
            var bh = $("body").height();
            var bw = $("body").width();
            $("#fullbg").css({
                height:bh,
                width:bw,
                display:"block"
            });
            $("#dialog").show();
        }
        //关闭灰色 jQuery 遮罩
        function closeBg() {
            $("#fullbg,#dialog").hide();
        }

        </script>
        {% endblock %}

{% block righttoplink %}
                            <li><a href="#">微快递服务说明</a></li>
                            <!--li><a href="#">Tour</a></li-->
                            <li class="has-dropdown">
                                <a href="#">个人中心</a>
                                <ul class="dropdown">
                                    <li><a href="#">个人资料</a></li>
                                    <li><a href="#">退出登录</a></li>
                                    <!--li><a href="#">Branding</a></li>
                                    <li><a href="#">API</a></li-->
                                </ul>
                            </li>
{% endblock %}
{% block content %}
<!--这是主页面-->
        <header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url(images/img_4_3.jpg)" >
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-left">
                        <div class="row row-mt-15em">
                            <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">

                            </div>
                            <div class="col-md-4 col-md-push-2 animate-box" data-animate-effect="fadeInRight">
                                <button type="submit" class="btn btn-primary" onclick="showBg();" >我要送件</button>

                                <div id="fullbg"></div>
                                <div id="dialog">
                                    <p class="close"><a href="#" onclick="closeBg();">X</a></p>
                                    <fieldset>
                                        <!--legend>ACCOUNT DETAILS</legend-->
                                        <div class="form-row">
                                            <div class="field-label"><label for="field1">下单方式</label>:</div>
                                            <div class="field-widget">
                                                <select id="field1" name="field1" class="validate-selection" title="Choose your department">
                                                    <option>请选择</option>
                                                    <option>立即送件</option>
                                                    <option>预约送件</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="field-label"><label for="field2">取件地点</label>:</div>
                                            <div class="field-widget">
                                                <select id="field2" name="field2" class="validate-selection" title="Choose your department">
                                                    <option>请选择</option>
                                                    <option>一区</option>
                                                    <option>二区</option>
                                                    <option>三区</option>
                                                    <option>科学园</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="field-label"><label for="field3">寄件人</label>:</div>
                                            <div class="field-widget"><input name="field3" id="field3" class="required" title="请输入" /></div>
                                        </div>

                                    </fieldset>
                                    <input type="submit" class="submit2" value="Submit" />

                                </div>

                            </div>
                            <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
                                <p><a></a><p>
                            </div>
                            <div class="col-md-4 col-md-push-2 animate-box" data-animate-effect="fadeInRight">
                                <button type="submit" class="btn btn-primary" onclick="student.html">我的志愿</button>



                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </header>
{% endblock %}
