{% extends "base.html" %}
{% load staticfiles %}
{% block title %}老师{% endblock %}
{% block script %}
    <script type="text/javascript">
        //显示灰色 jQuery 遮罩层
        function showBg() {
            var bh = $("body").height();
            var bw = $("body").width();
            $("#fullbg").css({
                height:bh,
                width:bw,
                display:"block"
            });
            $("#dialog").show();
        }
        //关闭灰色 jQuery 遮罩
        function closeBg() {
            $("#fullbg,#dialog").hide();
        }

        </script>
        <style type="text/css">
            label{float: left;width: 80px;line-height:25px;}
            form{margin:0px}
            input{width: 180px;border:1px solid #808080;}
            textarea{width: 250px;height: 150px;}

            sbutton {margin-left: 80px;margin-top: 5px;width:80px;}

            br{clear: left;}
        </style>
{% endblock %}

{% block righttoplink %}
<li><a href="{% url "illustration"%}">Shared Route服务说明</a></li>
<!--li><a href="#">Tour</a></li-->
<li class="has-dropdown">
    <a href="{% url "detail_teacher"%}">个人中心</a>
    <ul class="dropdown">
        <li><a href="{% url "detail_teacher"%}">个人资料</a></li>
        <li><a href="{% url "log_out"%}">退出登录</a></li>
        <!--li><a href="#">Branding</a></li>
        <li><a href="#">API</a></li-->
    </ul>
</li>
{% endblock %}
{% block content %}
        <p>{{state}}</p>
        <header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url({% static "images/img_4_3.jpg" %})" >
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-left">
                        <div class="row row-mt-15em">
                            <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">

                            </div>
                            <div class="col-md-4 col-md-push-2 animate-box" data-animate-effect="fadeInRight">
                                <a style="color:white" class="btn btn-primary" onclick="showBg();" >我要寄件</a>

                                <div id="fullbg"></div>
                                <div id="dialog">
                                    <button class="close"><a href="" onclick="closeBg();">&nbsp;X&nbsp;</a></button>
                                    <div class="donate_form_w3l">

                                        <form rol="form" method="POST" action="{% url 'tea_set_form'%}">
                                          {% csrf_token %}
                                            <div class="left-agileinfo">
                                                <br/>
                                                <fieldset>
                                                    <div class="form-row">
                                                        <div class="field-label"><label for="field1">下单方式</label>:</div>
                                                        <div class="field-widget">
                                                            <select id="field1" name="field1" class="validate-selection" title="Choose your department">
                                                                <option>请选择</option>
                                                                <option value='1'>立即下单</option>
                                                                <option value='2'>预约下单</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="field-label"><label for="field2">寄件人</label>:</div>
                                                        <div class="field-widget"><input name="send_teacher" id="field2" class="required" title="请输入" /></div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="field-label"><label for="field3">手机电话</label>:</div>
                                                        <div class="field-widget"><input name="send_teacher_phone" id="field3" class="required " title="请输入常用号码" /></div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="field-label"><label for="field4">取件地址</label>:</div>
                                                        <div class="field-widget">
                                                            <select id="field4" name="send_big_location" class="validate-selection" title="Choose your department">
                                                                <option value='1'>一区</option>
                                                                <option value='2'>二区</option>
                                                                <option value='3'>三区</option>
                                                                <option value='4'>科学园</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="field-label"><label for="field5">详细地址</label>:</div>
                                                        <div class="field-widget"><input name="detail_location" id="field5" class="required" title="请输入" /></div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="field-label"><label for="field6">最晚取件时间</label>:</div>
                                                        <div class="field-widget">
                                                            <select id="field6" name="time" class="validate-selection" title="Choose your department">
                                                                <option value='1'>8:00</option>
                                                                <option value='2'>9:00</option>
                                                                <option value='3'>10:00</option>
                                                                <option value='4'>11:00</option>
                                                                <option value='5'>12:00</option>
                                                                <option value="6">13:00</option>
                                                                <option value="7">14:00</option>
                                                                <option value="8">15:00</option>
                                                                <option value="9">16:00</option>
                                                                <option value="10">17:00</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="right-agileits-w3layouts">
                                                <fieldset>
                                                    <div class="form-row">
                                                        <div class="field-label"><label for="field7">收件人</label>:</div>
                                                        <div class="field-widget"><input name="get_teacher" id="field7" class="required" title="请输入" /></div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="field-label"><label for="field8">收件人电话</label>:</div>
                                                        <div class="field-widget"><input name="get_teacher_phone" id="field8" class="required " title="请输入常用号码" /></div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="field-label"><label for="field9">取件地址</label>:</div>
                                                        <div class="field-widget">
                                                            <select id="field9" name="get_big_location" class="validate-selection" title="Choose your department">
                                                                <option value="1">一区</option>
                                                                <option value='2'>二区</option>
                                                                <option value="3">三区</option>
                                                                <option value="4">科学园</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="field-label"><label for="field10">详细地址</label>:</div>
                                                        <div class="field-widget"><input name="get_detail_location" id="field10" class="required" title="请输入" /></div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="field-label"><label for="field11">邮件内容</label>:</div>
                                                        <div class="field-widget"><input name="contain" id="field11" class="required" title="请输入" /></div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="field-label"><label for="field12">备注</label>:</div>
                                                        <div class="field-widget"><input name="other_import" id="field12" class="required" title="请输入" /></div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div align="center">
                                                <input type="submit"  value="确认下单" />
                                            </div>

                                        </form>
                                    </div>
                                </div>

                                </div>
                            <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
                                <p><a></a><p>
                            </div>
                            <div class="col-md-4 col-md-push-2 animate-box" data-animate-effect="fadeInRight">
                                <a style="color:white" class="btn btn-primary" onclick="{location.href='{% url "teacher" %}'}" >我的快递</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </header>
{% endblock %}
