{% extends "base.html" %}
{% load staticfiles %}
{% block title %}登陆{% endblock %}
{% block righttoplink %}
<li class="btn-cta"><a href="{% url 'signup' %}"><span>注册</span></a></li>
{% endblock %}
{% block content %}
        <header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url({% static "images/img_4_1.jpg" %})" >
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-left">

                        <div class="main">
                            <div class="login-form">
                                <!--h1>Member Login</h1-->
                                <div align="center" >
                                    <img src="url({% static "images/logo_small.png" %})" alt=""/>
                                </div>
                                <form>
                                    <input type="text" class="text" value="用户名/学号/职工号" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'USERNAME';}" >
                                    <input type="password" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">

                                    <div class="submit">
                                        <input type="submit" onclick="myFunction()" value="LOGIN" >
                                    </div>
                                    <p><a href="{% url 'forget_password' %}">忘记密码？</a></p>
                                </form>
                            </div>
                            <!--//End-login-form-->
                        </div>
                        <!--//end-main-->


                    </div>
                </div>
            </div>
        </header>
{% endblock %}
