{% extends "base.html" %}
{% load staticfiles %}
{% block title %}修改个人信息{% endblock %}
{% block righttoplink %}
<li><a href="{% url "illustration"%}">Shared Route服务说明</a></li>
<!--li><a href="#">Tour</a></li-->
<li class="has-dropdown">
    <a href="#">个人中心</a>
    <ul class="dropdown">
        <li><a href="{% url "detail_student"%}">个人资料</a></li>
        <li><a href="#">退出登录</a></li>
        <!--li><a href="#">Branding</a></li>
        <li><a href="#">API</a></li-->
    </ul>
</li>
{% endblock %}
{% block content %}
        <header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url({% static "images/img_4_7.jpg"%})" >
            <div class="overlay"></div>
            <div class="gtco-container">
                <br/>
                <br/>
                <br/>
                <br/>
                <div class="row" >
                    <div class="col-xs-12 col-sm-1">
                        <br/>
                    </div>
                    <div class="col-xs-12 col-sm-10 dialog" >
                        <div class="tm-section-title" align="center">
                            修改个人资料
                        </div>
                        <form method="POST" rol="form">
                          {% csrf_token %}
                        <div class="left-agileinfo">
                            <div align="center">
                                <img src="{% static "images/backpack.png"%}">
                            </div>
                            <br/>
                            <br/>
                            <div class="tm-section-description" align="center">
                                <input type="submit" class="btn btn-primary" action="" value="确认修改"> </input>
                            </div>
                        </div>

                        <div class="right-agileits-w3layouts">

                            <fieldset>
                                <div class="form-row">
                                    <div class="field-label"><label for="field1">姓名</label>:</div>
                                    <div class="field-widget"><input name="nick_name" id="field1" class="required" value="{{user.nick_name}}" /></div>
                                </div>
                                <div class="form-row">
                                    <div class="field-label"><label for="field2">性别</label>:</div>
                                    <div class="field-widget">
                                        <select id="field2" name="gender" class="validate-selection" title="Choose your department">
                                            <option value="1">女</option>
                                            <option value="2">男</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="field-label"><label for="field3">院系</label>:</div>
                                    <div class="field-widget"><input name="instutude" id="field3" class="required" value="{{user.Institute}}" /></div>
                                </div>
                                <div class="form-row">
                                    <div class="field-label"><label for="field4">专业</label>:</div>
                                    <div class="field-widget"><input name="major" id="field4" class="required" value="{{user.major}}" /></div>
                                </div>
                                <div class="form-row">
                                    <div class="field-label"><label for="field5">学号</label>:</div>
                                    <div class="field-widget"><input name="username" id="field5" class="required" value="{{user.username}}" /></div>
                                </div>
                                <div class="form-row">
                                    <div class="field-label"><label for="field6">联系方式</label>:</div>
                                    <div class="field-widget"><input name="phone_number" id="field6" class="required" value="{{user.phone_number}}" /></div>
                                </div>
                            </fieldset>

                            <!--
                            <div class="tm-section-description">
                                <button type="submit" class="btn btn-primary" onclick="{location.href='index_student.html'}" >修改</button>
                            </div>
                            -->
                        </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-1">
                        <br/>
                    </div>

                    <div class="clearfix visible-xs"></div>
                </div>
            </div>
        </header>
{% endblock %}
