{% extends "base.html" %}
{% load staticfiles %}
{% block title %}忘记密码{% endblock %}
{% block righttoplink%}
                            <li class="btn-cta"><a href="{% url 'send_index' %}"><span>登录</span></a></li>
{% endblock %}
{% block content %}
        <header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url({% static "images/img_4_1.jpg" %})" >
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-left">

                        <div class="main">
                            <div class="login-form">
                                <!--h1>Member Login</h1-->
                                <div align="center" >
                                    <img src="url({% static "images/logo_small.png" %})" alt=""/>
                                </div>
                                {% if state == 'not_exist_or_password_error' %}
                                <div>
                                  <h2 class="text-center" style="color:red">用户不存在或密码错误</h2>
                                </div>
                                {% endif %}
                                <form method="POST" role="form" >
                                {% csrf_token %}
                                    <p>账号</p>
                                    <p>{{user.username}}</p>
                                    <p>密码</p>
                                    <input type="text" class="text" name='password' value="请输旧密码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" >

                                    <p>邮箱</p>
                                    <input type="text" class="text" name='email' value="用于忘记密码的验证" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'EMAIL';}" >
                                    <p>新密码</p>
                                    <input type="password" name='password1' value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
                                    <p>确认密码</p>
                                    <input type="password" name='password2' value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">

                                    <div class="submit">
                                        <input type="submit" onclick="myFunction()" value="确定" >
                                    </div>
                                </form>
                            </div>
                            <!--//End-login-form-->
                        </div>
                        <!-----//end-main---->


                    </div>
                </div>
            </div>
        </header>
{% endblock %}
