{% extends "base.html" %}
{% load staticfiles %}
{% block title %}修改密码{% endblock %}
{% block righttoplink%}
                            <li class="btn-cta"><a href="{% url 'send_index' %}"><span>登录</span></a></li>
{% endblock %}
{% block content %}
        <header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url({% static "images/img_4_1.jpg" %})" >
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-left">

                        <div class="main">
                            <div class="login-form">
                                <!--h1>Member Login</h1-->
                                <div align="center" >
                                    <img src="url({% static "images/logo_small.png" %})" alt=""/>
                                </div>
                                {% if state == 'success' %}
                                <div>
                                  <h2 class="text-center" style="color:yellow">设置密码成功</h2>
                                </div>
                                {% elif state == 'repeat_error' %}
                                <div>
                                  <h2 class="text-center" style="color:red">两次密码不同</h2>
                                </div>
                                {% elif state == 'password_error' %}
                                <div>
                                  <h2 class="text-center" style="color:red">邮箱或密码错误</h2>
                                </div>
                                {% elif state == 'empty' %}
                                <div>
                                  <h2 class="text-center" style="color:red">密码不能为空</h2>
                                </div>
                                {% endif %}
                                <form method="POST" role="form" >
                                {% csrf_token %}
                                    <p>账号</p>
                                    <input type="text" class="text" name='username' value="请输入用户名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" >
                                    <p>邮箱</p>
                                    <input type="text" class="text" name='email' value="请输入邮箱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'EMAIL';}" >
                                    <p>旧密码</p>
                                    <input type="text" class="text" name='password' value="用于用户的验证" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'EMAIL';}" >
                                    <p>新密码</p>
                                    <input type="password" name='password1' value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
                                    <p>确认密码</p>
                                    <input type="password" name='password2' value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">

                                    <div class="submit">
                                        <input type="submit" onclick="myFunction()" value="确定" >
                                    </div>
                                </form>
                            </div>
                            <!--//End-login-form-->
                        </div>
                        <!-----//end-main---->


                    </div>
                </div>
            </div>
        </header>
{% endblock %}
