{% extends "base.html" %}
{% load staticfiles %}
{% block title %}学生首页{% endblock %}
                            <li><a href="#">微快递服务说明</a></li>
                            <!--li><a href="#">Tour</a></li-->
                            <li class="has-dropdown">
                                <a href="#">个人中心</a>
                                <ul class="dropdown">
                                    <li><a href="#">个人资料</a></li>
                                    <li><a href="#">退出登录</a></li>
                                </ul>
                            </li>
{% endblock %}
{% block content %}
        <header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url(images/img_4_1.jpg)" >
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-left">




                    </div>
                </div>
            </div>
        </header>
{% endblock %}
