@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* =======================================================
*
* 	Template Style
*
* ======================================================= */
body {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    background: #ececec;
}

input[type="submit"] {
    text-transform: capitalize;
    background: #598a8a;
    color: #fff;
    padding: .7em 0em;
    border: none;
    font-size: 14px;
    outline: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    text-transform: uppercase;
    width: 30%;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 2em;
    -webkit-appearance: none;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background: #b9d1b0;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.w3layouts {
    width: 50%;
    margin: 0 auto;
    padding:2em;
    /*background:rgba(17, 19, 19, 0.73);*/
}
.left-agileinfo, .right-agileits-w3layouts {
    width: 47%;
    float: left;
    margin: 5px 5px 0;
    padding: 5px;
    /*background: rgba(107, 113, 113, 0.28);*/
}

.creditly-wrapper .form-control {
    padding: 1em 0.8em!important;
    margin-bottom: 12px !important;
    outline: none;
}
/*--donate_form --*/

.donate_form_w3l form input[type="text"], .donate_form_w3l form input[type="email"], .donate_form_w3l form input[type="password"] {
    padding: 8px 11px;
    display: block;
    width: 93%;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: inset 0px 0px 3px #ffffff;
    -webkit-box-shadow: inset 0px 0px 3px #ffffff;
    -moz-box-shadow: inset 0px 0px 3px #ffffff;
    -o-box-shadow: inset 0px 0px 3px #ffffff;
    -webkit-appearance: none;
}
.donate_form_w3l form input[type="submit"] {
    text-transform: capitalize;
    background: #598a8a;
    color: #fff;
    padding: .7em 0em;
    border: none;
    font-size: 14px;
    outline: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    text-transform: uppercase;
    width: 30%;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 2em;
    -webkit-appearance: none;
    cursor: pointer;
}
.donate_form_w3l form input[type="submit"]:hover {
    background: #d8e6c5;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.donate_form_w3l form textarea{
    padding:8px 11px;
    display: block;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color:#555;
    font-size: 1em;
    box-shadow: inset 0px 0px 3px #555;
    -webkit-box-shadow: inset 0px 0px 3px #555;
    -moz-box-shadow: inset 0px 0px 3px #555;
    -o-box-shadow: inset 0px 0px 3px #555;
    -webkit-appearance: none;
    height:75px;
}
ul.infor label {
    font-weight: 600;
}
ul.infor li {
    display: inline-block;
    /* border: 1px solid #fff; */
    width: 12%;
    margin: 0px 6px;
    padding: 10px 31px;
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    background: #fc636b;
    letter-spacing: 1px;
}
ul.infor li label {
    cursor:pointer;
}
li.amount {
    width: 23%!important;
    margin-top: 1em!important;
}
li.amount input[type="text"] {
    display: inline-block;
    width: 50%!important;
    margin-left: 10px;
}
.donate_form_w3l p {
    color: #e6e6e6;
    font-size: 0.84em;
    margin: 9px 5px 7px;
    letter-spacing: .7px;
}
ul.infor {
    margin: 1em auto;
    text-align: center;
}
.donate_form_w3l h5 {
    color: #3be8b0;
    font-size: 1.3em;
    letter-spacing: 1px;
}
.donate_form_w3l h2 {
    font-size: 17px;
    color: #fff;
    letter-spacing: 1px;
}
.center-w3ls{
    text-align:center!important;
}

